### Code for Task 1 (MCQ) 
### Rajib Dutta 
### duttarajib78@gmail.com 
### Batch DS2402

## Q1

In [1]:
def func(a, b):
    return b if a == 0 else func(b % a, a)
print(func(30, 75))

15

## Q2

In [2]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

## Q3

In [3]:
def star_args_type_check(*args):
    print(f"The data type of the *args parameter is - {type(args)}")

star_args_type_check()

The data type of the *args parameter is - <class 'tuple'>

## Q4

In [4]:
set1 = {14, 3, 55}
set2 = {82, 49, 62}
set3={99,22,17}

print(len(set1 + set2 + set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

## Q5

In [5]:
def raise_exception_demo(*num_args):
    if all(isinstance(x, (int, float)) for x in num_args):
        total=0
        for anum in num_args:
            total+=anum
        return total
    else:
        raise TypeError("Type mismatch; all numbers please")

print(f"The sum of the numbers in this array = {raise_exception_demo(2, 3, 4, 5)}")
print(f"The sum of the numbers in this array = {raise_exception_demo(10, 12, '14')}")

The sum of the numbers in this array = 14

TypeError: Type mismatch; all numbers please

## Q7

In [6]:
print(4**3 + (7 + 5)**(1 + 1))

208

## Q10

In [7]:
total=0
for i in range(1, 10, 2):
    total+=i
print(f"The total = {total}")

The total = 25

## Q16

In [8]:
captains = { "Enterprise": "Picard", 
            "Voyager": "Janeway", 
            "Defiant": "Sisko", 
            }
print("Output from option a:\n")
for ship, captain in captains.items():
    print(ship, captain)

print("\n")
print("Output from option b:\n")
for ship in captains:
    print(ship, captains[ship])

Output from option a:

Enterprise Picard
Voyager Janeway
Defiant Sisko


Output from option b:

Enterprise Picard
Voyager Janeway
Defiant Sisko

## Q17

In [9]:
captains = {}
captains

{}

## Q18

In [10]:
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

## Q19

In [11]:
captains = { "Enterprise": "Picard", 
            "Voyager": "Janeway", 
            "Defiant": "Sisko", 
            "Discovery": "unknown", 
            }

for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by unknown.

## Q20

In [12]:
captains = { "Enterprise": "Picard", 
            "Voyager": "Janeway", 
            "Defiant": "Sisko", 
            "Discovery": "unknown", 
            }
del captains["Discovery"]
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}