## Web scraping assignment 4
* ### Name: Rajib Dutta
* ### Email: duttarajib78@gmail.com
* ### Internship Batch: DS2402

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
import re

import pandas as pd
from selenium.common import TimeoutException
from selenium.webdriver import Keys, ActionChains
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

driver=webdriver.Edge()
driver.maximize_window()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
actions = ActionChains(driver)

view_table_XPATH='//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody'
while 1:
    try:
        view_table=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH,view_table_XPATH)))
        break
    except TimeoutException:
        print("Timed out..trying again")

rows=view_table.find_elements(By.TAG_NAME,'tr')
video_df=pd.DataFrame(columns=['Rank','Name','Artist','Date','Views (billions)'])

for rank, row in enumerate(rows):
    name=row.find_elements(By.TAG_NAME,'td')[0].text.strip()
    artist=row.find_elements(By.TAG_NAME,'td')[1].text.strip()
    views=row.find_elements(By.TAG_NAME,'td')[2].text.strip()
    date=row.find_elements(By.TAG_NAME,'td')[3].text.strip()
    
    video_df.loc[rank]=[rank+1,name,artist,date,views]
driver.quit()
video_df

,Rank,Name,Artist,Date,Views (billions)
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.41
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,5,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.23
5,6,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.22
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.18
9,10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.10
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.09
11,12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.59
12,13,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.57
13,14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.45
14,15,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,17,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",4.00
17,18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.98
18,19,"""Roar""[44]",Katy Perry,"September 5, 2013",3.98
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.89
20,21,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,22,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,23,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.75
24,25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.70
25,26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.70
26,27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.64
27,28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.58
29,30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.57

### 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Series

B) Place

C) Date

D) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
import pandas as pd
from selenium.webdriver import Keys, ActionChains
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

driver=webdriver.Edge()
driver.maximize_window()
driver.get("https://www.bcci.tv/")

international_XPATH='/html[1]/body[1]/header[1]/div[3]/ul[1]/li[1]/button[1]'
international_link=WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH,international_XPATH)))
ActionChains(driver).click(international_link).perform()

fixture_XPATH='/html[1]/body[1]/header[1]/div[3]/div[2]/ul[1]/div[1]/a[2]'
fixture_link=WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH,fixture_XPATH)))
ActionChains(driver).click(fixture_link).perform()

teams_XPATH='/html[1]/body[1]/section[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/div[1]/div[1]'
teams_dropdown=WebDriverWait(driver,10).until(expected_conditions.visibility_of_element_located((By.XPATH, teams_XPATH)))
ActionChains(driver).click(teams_dropdown).perform()

indian_team_XPATH='/html[1]/body[1]/section[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/div[1]/div[2]/div[9]'
indian_team=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH,indian_team_XPATH)))
ActionChains(driver).move_to_element(to_element=indian_team).click(on_element=indian_team).perform()

match_details=WebDriverWait(driver,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@id="match-card"]')))

fixture_df=pd.DataFrame(columns=['Series', 'Place', 'Date', 'Time'])
for i,_ in enumerate(match_details):
    match=WebDriverWait(driver,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@id="match-card"]')))[i]
    series=match.find_element(By.XPATH, './/h5[@class="match-tournament-name ng-binding"]').text.strip()
    stadium=match.find_element(By.XPATH, './/span[@class="ng-binding ng-scope"]').text.strip()
    city=match.find_element(By.XPATH, './/span[@class="ng-binding"]').text.strip()
    place=f'{stadium} {city}'
    date=match.find_element(By.XPATH, './/div[@class="match-dates ng-binding"]').text.strip()
    time=match.find_element(By.XPATH, './/div[@class="match-time no-margin ng-binding"]').text.strip()
    fixture_df.loc[i]=[series,place,date,time]
driver.quit()
fixture_df

,Series,Place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","6 JUNE, 2024",12:30 AM AEST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","10 JUNE, 2024",12:30 AM AEST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","13 JUNE, 2024",12:30 AM AEST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","16 JUNE, 2024",12:30 AM AEST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",12:30 AM AEST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","8 JULY, 2024",12:30 AM AEST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","11 JULY, 2024",12:30 AM AEST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",12:30 AM AEST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","15 JULY, 2024",12:30 AM AEST

### 3. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details: 

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [3]:
import pandas as pd
from selenium.webdriver import Keys, ActionChains
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

driver=webdriver.Edge()
driver.maximize_window()
driver.get("https://www.statisticstimes.com/")

economy_XPATH='/html[1]/body[1]/div[2]/div[1]/div[2]/div[2]/button[1]'
economy_dropdown=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, economy_XPATH)))
ActionChains(driver).move_to_element(to_element=economy_dropdown).perform()

india_XPATH='/html[1]/body[1]/div[2]/div[1]/div[2]/div[2]/div[1]/a[3]'
india_option=WebDriverWait(driver,10).until(expected_conditions.visibility_of_element_located((By.XPATH, india_XPATH)))
ActionChains(driver).move_to_element(to_element=india_option).click(on_element=india_option).perform()

ad=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '/html[1]/body[1]/div[1]')))
ActionChains(driver).move_to_element(to_element=ad).click(on_element=ad).perform()

india_gdp_XPATH='/html[1]/body[1]/div[2]/div[2]/div[2]/ul[1]/li[1]/a[1]'
WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH, india_gdp_XPATH))).click()

gdp_table=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//table[@id="table_id"]/tbody')))
GDP_df=pd.DataFrame(columns=['Rank', 'State', 'GSDP (21-22)', 'GSDP (22-23)', 'Share (21-22)', 'GDP ($billion)'])
for i,row in enumerate(gdp_table.find_elements(By.TAG_NAME, 'tr')):
    rank=row.find_elements(By.TAG_NAME, 'td')[0].text.strip()
    state=row.find_elements(By.TAG_NAME, 'td')[1].text.strip()
    GSDP_21_22=row.find_elements(By.TAG_NAME, 'td')[4].text.strip()
    GSDP_22_23=row.find_elements(By.TAG_NAME, 'td')[3].text.strip()
    share=row.find_elements(By.TAG_NAME, 'td')[5].text.strip()
    GDP=row.find_elements(By.TAG_NAME, 'td')[6].text.strip()
    GDP_df.loc[i]=(rank, state, GSDP_21_22, GSDP_22_23, share, GDP)
driver.quit()
GDP_df

,Rank,State,GSDP (21-22),GSDP (22-23),Share (21-22),GDP ($billion)
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",3.96%,124.764
11,12,Delhi,"881,336","1,014,688",3.73%,117.660
12,13,Haryana,"868,905","984,055",3.68%,116.001
13,14,Odisha,"662,886","753,177",2.81%,88.497
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"617,192","676,164",2.62%,82.397
16,17,Assam,"411,454","493,167",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"267,143","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
22,23,Goa,"84,266","93,672",0.36%,11.250
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"46,096","54,285",0.20%,6.154
25,26,Puducherry,"43,810","49,643",0.19%,5.849
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
30,31,Nagaland,"31,038","35,643",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

### 4. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [4]:
import re
import pandas as pd
from selenium.webdriver import Keys, ActionChains
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.common.exceptions import TimeoutException

driver=webdriver.Edge()
driver.maximize_window()
driver.get("https://github.com/")

oen_source_XPATH='/html[1]/body[1]/div[1]/div[1]/header[1]/div[1]/div[2]/div[1]/nav[1]/ul[1]/li[3]/button[1]'
open_source_dropdown=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, oen_source_XPATH)))
ActionChains(driver).move_to_element(to_element=open_source_dropdown).perform()

trending_XPATH='/html[1]/body[1]/div[1]/div[1]/header[1]/div[1]/div[2]/div[1]/nav[1]/ul[1]/li[3]/div[1]/div[3]/ul[1]/li[2]/a[1]'
trending=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, trending_XPATH)))
ActionChains(driver).move_to_element(to_element=trending).click(on_element=trending).perform()

trending_repos_XPATH='//article[@class="Box-row"]'
trending_repos=WebDriverWait(driver,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, trending_repos_XPATH)))

parent_window=driver.current_window_handle

trending_repos_df=pd.DataFrame(columns=['Title', 'Description', 'Contributors count', 'Language'])
for i,repo in enumerate(trending_repos):
    repo_link=repo.find_element(By.XPATH, './/a[@class="Link"]')
    ActionChains(driver).move_to_element(to_element=repo_link).key_down(Keys.CONTROL).click(on_element=repo_link).key_up(Keys.CONTROL).perform()
    driver.switch_to.window(driver.window_handles[-1])
    
    author=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//span[@class="author flex-self-stretch"]/a'))).text.strip()
    name=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//strong[@class="mr-2 flex-self-stretch"]/a'))).text.strip()
    title=f'{author}/{name}'
    description_XPATH='/html[1]/body[1]/div[1]/div[4]/div[1]/main[1]/turbo-frame[1]/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/div[1]/div[1]/div[1]/p[1]'
    try:
        description=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, description_XPATH))).text.strip()
    except TimeoutException:
        description='-'
    contributor_count_XPATH='//a[@class="Link--primary no-underline Link d-flex flex-items-center"]'
    try:
        contributor_count=WebDriverWait(driver,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, contributor_count_XPATH)))[-1].text.strip()
        contributor_count_num=re.compile(pattern='\d+').search(string=contributor_count)
        if contributor_count_num is not None: contributor_count=contributor_count_num.group()
    except TimeoutException:
        contributor_count='-'
    language_XPATH='//span[@class="color-fg-default text-bold mr-1"]'
    languages=''
    try:
        for language in WebDriverWait(driver,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, language_XPATH))):
            languages+=language.text.strip()+','
    except TimeoutException:
        languages='-'
    trending_repos_df.loc[i]=(title, description, contributor_count, languages[:-1])
    
    driver.close()
    driver.switch_to.window(parent_window)
driver.quit()
trending_repos_df

,Title,Description,Contributors count,Language
0,KindXiaoming/pykan,Kolmogorov Arnold Networks,7,"Jupyter Notebook,Python"
1,fastfetch-cli/fastfetch,"Like neofetch, but much faster because written...",85,"C,C++,Objective-C,CMake,Shell"
2,freeCodeCamp/freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,5,"TypeScript,JavaScript,CSS,Dockerfile,EJS,Shell"
3,dylanaraps/neofetch,🖼️ A command-line system information tool writ...,207,"Shell,Roff,Makefile"
4,coollabsio/coolify,An open-source & self-hostable Heroku / Netlif...,115,"PHP,Blade,Vue,Shell,Dockerfile,CSS,JavaScript"
5,adobe/react-spectrum,A collection of libraries and tools that help ...,283,"TypeScript,JavaScript,MDX,CSS,HTML,Handlebars"
6,dnhkng/GlaDOS,"This is the Personality Core for GLaDOS, the f...",4,"Python,Jupyter Notebook"
7,adrianhajdin/banking,Horizon is a modern banking platform for every...,2,"TypeScript,CSS,JavaScript"
8,Stirling-Tools/Stirling-PDF,#1 Locally hosted web application that allows ...,106,"Java,HTML,JavaScript,CSS,Shell,Python,Other"
9,IvanGlinkin/CCTV,Close-Circuit Telegram Vision revolutionizes l...,4,"JavaScript,Python,CSS,HTML"
10,TheOfficialFloW/PPPwn,PPPwn - PlayStation 4 PPPoE RCE,10,"Python,C,Makefile,Assembly,Other"
11,firebase/firebase-ios-sdk,Firebase SDK for Apple App Development,226,"Objective-C,C++,Swift,Objective-C++,C,Ruby,Other"
12,pointfreeco/swift-composable-architecture,A library for building applications in a consi...,199,"Swift,Makefile"
13,remix-run/remix,"Build Better Websites. Create modern, resilien...",685,"TypeScript,JavaScript,Other"
14,codecrafters-io/build-your-own-x,Master programming by recreating your favorite...,116,
15,verlab/accelerated_features,Do you need robust and fast local feature extr...,2,"Jupyter Notebook,Python"
16,Orange-OpenSource/hurl,"Hurl, run and test HTTP requests with plain text.",54,"Rust,Python,Shell,PowerShell,HTML,Roff,Other"
17,espeak-ng/espeak-ng,eSpeak NG is an open source speech synthesizer...,115,"C,Java,Shell,C++,Python,Makefile,Other"
18,pytorch/executorch,"On-device AI across mobile, embedded and edge ...",94,"C++,Python,Objective-C++,Starlark,CMake,Shell,..."
19,novuhq/novu,🔥 The open-source notification infrastructure ...,396,"TypeScript,Python,JavaScript,HTML,Handlebars,S..."
20,TanStack/query,"🤖 Powerful asynchronous state management, serv...",779,"TypeScript,JavaScript,Other"
21,reorproject/reor,Self-organizing AI note-taking app that runs m...,11,"TypeScript,JavaScript,SCSS,CSS,HTML,Makefile"
22,aws-samples/bedrock-claude-chat,AWS-native chatbot using Bedrock + Claude,36,"TypeScript,Python,JavaScript,Shell,Dockerfile,..."
23,mantinedev/mantine,A fully featured React components library,514,"TypeScript,MDX,CSS,Other"
24,pagefaultgames/pokerogue,-,82,"TypeScript,PowerShell,PLSQL,JavaScript,HTML,CSS"

### 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [5]:
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

driver=webdriver.Edge()
driver.maximize_window()
driver.get("https://www.billboard.com/")

charts_XPATH='/html[1]/body[1]/div[3]/header[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div[2]/div[1]/div[1]/nav[1]/ul[1]/li[1]/a[1]'
WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, charts_XPATH))).click()

billboard_top_100_XPATH='/html[1]/body[1]/div[3]/main[1]/div[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/span[1]/a[1]'
WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, billboard_top_100_XPATH))).click()

chart=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]')))

song_df=pd.DataFrame(columns=['Name', 'Artist', 'Last week rank', 'Peak rank', 'Weeks on board'])
for i, song in enumerate(chart.find_elements(By.XPATH, './/div[@class="o-chart-results-list-row-container"]')):
    name=song.find_element(By.XPATH, './/ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/h3').text.strip()
    artist=song.find_element(By.XPATH, './/ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span').text.strip()
    last_week_rank=song.find_element(By.XPATH, './/li[@class="lrv-u-width-100p"]/ul/li[4]/span').text.strip()
    peak_rank=song.find_element(By.XPATH, './/li[@class="lrv-u-width-100p"]/ul/li[5]/span').text.strip()
    weeks_on_board=song.find_element(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[6]/span').text.strip()
    
    song_df.loc[i]=(name, artist, last_week_rank, peak_rank, weeks_on_board)
driver.quit()
song_df

,Name,Artist,Last week rank,Peak rank,Weeks on board
0,Fortnight,Taylor Swift Featuring Post Malone,-,1,1
1,Down Bad,Taylor Swift,-,2,1
2,I Can Do It With A Broken Heart,Taylor Swift,-,3,1
3,The Tortured Poets Department,Taylor Swift,-,4,1
4,"So Long, London",Taylor Swift,-,5,1
...,...,...,...,...,...
95,Us Vs. Them,$uicideBoy$,-,96,1
96,Wine Into Whiskey,Tucker Wetmore,84,77,1
97,Spin You Around (1/24),Morgan Wallen,89,24,1
98,Soak City,310babii,82,53,1
99,Selfish,Justin Timberlake,60,19,1

### 6. Scrape the details of Highest selling novels.

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [6]:
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

driver=webdriver.Edge()
driver.maximize_window()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

novel_table=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//table[@class="in-article sortable"]/tbody')))

novel_df=pd.DataFrame(columns=['Name', 'Author', 'Volumes sold', 'Publisher', 'genre'])
for i,novel in enumerate(novel_table.find_elements(By.XPATH, './/tr')):
    name=novel.find_element(By.XPATH, './/td[2]').text.strip()
    author=novel.find_element(By.XPATH, './/td[3]').text.strip()
    volumes=novel.find_element(By.XPATH, './/td[4]').text.strip()
    publisher=novel.find_element(By.XPATH, './/td[5]').text.strip()
    genre=novel.find_element(By.XPATH, './/td[6]').text.strip()
    
    novel_df.loc[i]=(name, author, volumes, publisher, genre)
driver.quit()
novel_df

,Name,Author,Volumes sold,Publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [7]:
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

driver=webdriver.Edge()
driver.maximize_window()
driver.get("https://www.imdb.com/list/ls512407256/")

shows=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class="lister-list"]')))

shows_df=pd.DataFrame(columns=['Name', 'Year span', 'Genre', 'Run time', 'Ratings', 'Votes'])
for i,show in enumerate(shows.find_elements(By.XPATH, './/div[@class="lister-item mode-detail"]')):
    name=show.find_element(By.XPATH, './/div[@class="lister-item-content"]/h3/a').text.strip()
    year_span=show.find_element(By.XPATH,'.//div[@class="lister-item-content"]/h3/span[2]').text.strip()
    genre=show.find_element(By.XPATH,'.//div[@class="lister-item-content"]/p[1]/span[5]').text.strip()
    run_time=show.find_element(By.XPATH,'.//div[@class="lister-item-content"]/p[1]/span[3]').text.strip()
    ratings=show.find_element(By.XPATH,'.//div[@class="lister-item-content"]/div/div[1]/span[2]').text.strip()
    votes=show.find_element(By.XPATH,'.//div[@class="lister-item-content"]/p[4]/span[2]').text.strip()

    shows_df.loc[i]=(name, year_span, genre, run_time, ratings, votes)
driver.quit()
shows_df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",60 min,9.2,"2,286,702"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",60 min,8.7,"1,337,736"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",45 min,8.1,"1,082,972"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"315,677"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"276,319"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",60 min,8.9,"657,064"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"163,355"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"115,946"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"436,177"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"139,849"

### 8. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute 

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [8]:
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains

driver = webdriver.Chrome()
driver.maximize_window()
driver.get("https://archive.ics.uci.edu/")

all_datasets_XPATH = '/html[1]/body[1]/div[1]/div[1]/div[1]/header[1]/nav[1]/ul[1]/li[1]/a[1]'
all_datasets = WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, all_datasets_XPATH)))
ActionChains(driver).move_to_element(to_element=all_datasets).click(on_element=all_datasets).perform()

datasets_df = pd.DataFrame(columns=['Name', 'Type', 'Task', 'Attribute type', 'No of instances', 'No of attributes', 'Year'])
hrefs=[]
while True:  
    try:
        page_hrefs=WebDriverWait(driver, 10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')))
    except Exception as e:
        print('Page has no dataset link; exiting..')
        break
    for href in page_hrefs:
        hrefs.append(href.get_attribute('href'))
    try:
        next_button_XPATH='/html[1]/body[1]/div[1]/div[1]/div[1]/main[1]/div[1]/div[2]/div[3]/div[1]/button[2]'
        next_button=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, next_button_XPATH)))
        if next_button.is_enabled():
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
            ActionChains(driver).move_to_element(to_element=next_button).click(on_element=next_button).pause(5).perform()
        else:
            print('All pages exhausted')
            break
    except Exception as e:
        print('Exception occured, aborting....')
        break

for i,href in enumerate(hrefs):
    driver.get(href)
    name_XPATH = '/html[1]/body[1]/div[1]/div[1]/div[1]/main[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/h1[1]'
    try:
        name = WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, name_XPATH))).text.strip()
    except Exception as e:
        name='-'
    type_XPATH = '/html[1]/body[1]/div[1]/div[1]/div[1]/main[1]/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/p[1]'
    try:
        type = WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, type_XPATH))).text.strip()
    except Exception as e:
        type='-'
    task_XPATH = '/html[1]/body[1]/div[1]/div[1]/div[1]/main[1]/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/p[1]'
    try:
        task = WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, task_XPATH))).text.strip()
    except Exception as e:
        task='-'
    attribute_type_XPATH = '/html[1]/body[1]/div[1]/div[1]/div[1]/main[1]/div[1]/div[1]/div[1]/div[2]/div[2]/div[4]/p[1]'
    try:
        attribute_type = WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, attribute_type_XPATH))).text.strip()
    except Exception as e:
        attribute_type='-'
    no_of_instances_XPATH = '/html[1]/body[1]/div[1]/div[1]/div[1]/main[1]/div[1]/div[1]/div[1]/div[2]/div[2]/div[5]/p[1]'
    try:
        no_of_instances = WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, no_of_instances_XPATH))).text.strip()
    except Exception as e:
        no_of_instances='-'
    no_of_atributes_XPATH = '/html[1]/body[1]/div[1]/div[1]/div[1]/main[1]/div[1]/div[1]/div[1]/div[2]/div[2]/div[6]/p[1]'
    try:
        no_of_attributes = WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, no_of_atributes_XPATH))).text.strip()
    except Exception as e:
        no_of_attributes='-'
    year_XPATH = '/html[1]/body[1]/div[1]/div[1]/div[1]/main[1]/div[1]/div[1]/div[1]/div[1]/div[2]/h2[1]'
    try:
        year = WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, year_XPATH))).text.strip()
    except Exception as e:
        year='-'
    datasets_df.loc[i] = (name, type, task, attribute_type, no_of_instances, no_of_attributes, year)
driver.quit()
datasets_df

All pages exhausted

,Name,Type,Task,Attribute type,No of instances,No of attributes,Year
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Dry Bean,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Donated on 10/5/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
...,...,...,...,...,...,...,...
659,Moral Reasoner,Domain-Theory,-,-,202,-,Donated on 5/31/1994
660,PMU-UD,Univariate,Classification,-,5180,9,Donated on 8/4/2018
661,DGP2 - The Second Data Generation Program,Data-Generator,-,Real,-,-,-
662,EBL Domain Theories,-,-,-,-,-,-
663,Sattriya_Dance_Single_Hand_Gestures Dataset,Multivariate,Classification,-,1450,-,Donated on 7/21/2019