## Web scraping evaluation assignment 2 (Selenium)
* ### Name: Rajib Dutta
* ### Email: duttarajib78@gmail.com
* ### Internship Batch: DS2402

### Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [1]:
import pandas as pd
from selenium.webdriver import Keys, ActionChains
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

driver=webdriver.Chrome()
driver.maximize_window()
driver.get("https://www.naukri.com/")
actions = ActionChains(driver)

skill_xpath='//div[@class="keywordSugg"]/div/div/div/div[1]/div/input'
search_button_xpath='//div[@class="qsbSubmit"]'
skill_text_box=WebDriverWait(driver,30).until(expected_conditions.presence_of_element_located((By.XPATH, skill_xpath)))
search_button=WebDriverWait(driver,30).until(expected_conditions.element_to_be_clickable((By.XPATH, search_button_xpath)))
actions.click(on_element=skill_text_box)
actions.send_keys('Data Scientist')
actions.click(on_element=search_button)
actions.pause(5)
actions.perform()
actions.reset_actions()

location_checkbox_xpath='//div[@class="styles_filter-wrapper-component__4OBpS"]/div[5]/div[2]/div[2]/label/i'
location_checkbox=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, location_checkbox_xpath)))
actions.click(on_element=location_checkbox)
actions.pause(5)
actions.perform()
actions.reset_actions()

salary_checkbox_xpath='//div[@class="styles_filter-wrapper-component__4OBpS"]/div[6]/div[2]/div[2]/label/i'
salary_checkbox=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, salary_checkbox_xpath)))
actions.click(on_element=salary_checkbox)
actions.pause(5)
actions.perform()
actions.reset_actions()

parent_page=driver.current_window_handle
job_df=pd.DataFrame(columns=['Job_Title','Location','Company','Exerience'])
counter=0
i=0
while True:
    i+=1
    if counter==10:
        break
    job_link_xpath=f'//div[@class="styles_jlc__main__VdwtF"]/div[{i}]/div/div[1]/a'
    try:
        job_link=WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH, job_link_xpath)))
    except:
        continue
    driver.execute_script("arguments[0].click();", job_link)
    actions.pause(5).perform()
    actions.reset_actions()
    
    child_page=driver.window_handles[-1]
    driver.switch_to.window(child_page)
    title=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//h1[@class="styles_jd-header-title__rZwM1"]'))).text
    location=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//span[@class="styles_jhc__location__W_pVs"]'))).text
    company=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class="styles_jd-header-comp-name__MvqAI"]/a'))).text
    experience=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class="styles_jhc__exp__k_giM"]/span'))).text
    driver.close()
    driver.switch_to.window(parent_page)
    job_df.loc[counter]=(title, location, company, experience)
    counter+=1
driver.quit()
job_df

,Job_Title,Location,Company,Exerience
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kashsam Data Solutions,3 - 7 years
1,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2 - 7 years
2,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3 - 7 years
3,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,2 - 7 years
4,Associate Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kmart,1 - 2 years
5,Associate Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",KAS Services,1 - 2 years
6,Senior Data Scientist/ Data Scientist,"Mumbai, Pune, Chennai, Gurugram, Bengaluru",Neal Analytics,3 - 7 years
7,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Elitefit.ai,3 - 7 years
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Fort Technologies,1 - 3 years
9,Lead Customer Success - Data Scientist,"Pune, Gurugram",ZS Associates,2 - 4 years

### Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver import ActionChains

driver=webdriver.Chrome()
driver.maximize_window()
driver.get('https://www.shine.com/')

action = ActionChains(driver)

jobs_menue=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//input[@class="input"]')))
action.click(on_element=jobs_menue).perform()
action.reset_actions()

skill_text_box=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//input[@id="id_q"]')))
location_text_box=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//input[@id="id_loc"]')))
search_button=WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH, '//button[@class=" btn btn-secondary undefined"]')))
action.click(on_element=skill_text_box)
action.send_keys('Data Scientist')
action.click(on_element=location_text_box)
action.send_keys('Bangalore')
action.click(on_element=search_button)
action.pause(5)
action.perform()
action.reset_actions()

job_df=pd.DataFrame(columns=['Title', 'Location', 'Company', 'Experience'])
for i in range(10):
    job_link_xpath=f'//div[@class="parentClass position-relative"]/div[{i+1}]/div/div/strong/a'
    job_link=WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH, job_link_xpath)))
    driver.execute_script("arguments[0].click();", job_link)
    action.pause(3).perform()
    action.reset_actions()
    
    title_xpath='//h2[@class="font-size-24"]'
    title=WebDriverWait(driver,10).until(expected_conditions.visibility_of_element_located((By.XPATH, title_xpath))).text.strip()
    location_xpath='//div[@class=" JobDetailWidget_jobCard_lists_item__w6Yow JobDetailWidget_locationIcon__u85a7"]/a'
    location=WebDriverWait(driver,10).until(expected_conditions.visibility_of_element_located((By.XPATH, location_xpath))).text.strip()
    company_xpath='//div[@class="JobDetailWidget_jobCard_cName__qvsdW"]/span'
    company=WebDriverWait(driver,10).until(expected_conditions.visibility_of_element_located((By.XPATH, company_xpath))).text.strip()
    experience_xpath='//div[@class="JobDetailWidget_jobCard_lists_item__w6Yow JobDetailWidget_jobIcon__mjaNB undefined"]'
    experience=WebDriverWait(driver,10).until(expected_conditions.visibility_of_element_located((By.XPATH, experience_xpath))).text.strip()
    job_df.loc[i]=(title, location, company, experience)
driver.quit()
job_df

,Title,Location,Company,Experience
0,Data Scientist Opening,Oman,RADHIKA ENTERPRISES,0 to 4 Yrs
1,Data Scientist,Bangalore,ALIKE THOUGHTS SOLUTIONS PRIVATE LIMITED,5 to 10 Yrs
2,Data Scientist Urgent Recruitment,Oman,Divya Staffing Solution,0 to 4 Yrs
3,Data Scientist Opening,Oman,Divya Staffing Solution,0 to 4 Yrs
4,Data Scientist Recruitment,Oman,RADHIKA ENTERPRISES,0 to 4 Yrs
5,Data Scientist Vacancy,Oman,Divya Staffing Solution,0 to 4 Yrs
6,Hiring For Data Scientist,Oman,Divya Staffing Solution,0 to 4 Yrs
7,Data Scientist Opening,Canada,RENUKA INTERPRISES,0 to 4 Yrs
8,Data Scientist Opening,Canada,RENUKA INTERPRISES,0 to 4 Yrs
9,Data Scientist Recruitment,Bangalore,RADHIKA ENTERPRISES,0 to 4 Yrs

### Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review

You have to scrape this data for first 100reviews.

In [3]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver import ActionChains

browser=webdriver.Chrome()
browser.maximize_window()
browser.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')
review_section_xpath='//div[@class="col _2wzgFH K0kLPL"]'

review_df=pd.DataFrame(columns=['Review_summary', 'Full_review', 'Rating'])
page_counter=1
ratings=[]
summaries=[]
reviews=[]
while True:
    if len(reviews)==100:
        break
        
    rating_elements=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')))
    summary_elements=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//p[@class="_2-N8zT"]')))
    review_elements=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="t-ZTKy"]/div/div')))
    
    for rating in rating_elements:
        ratings.append(rating.text.strip())
        
    for summary in summary_elements:
        summaries.append(summary.text.strip())
        
    for review in review_elements:
        reviews.append(review.text.strip())
        
    next_button_xpath='//a[@class="_1LKTO3"]'
    if page_counter>1:
        next_button_xpath='//a[@class="_1LKTO3"][2]'
        
    next_button=WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, next_button_xpath)))
    browser.execute_script("arguments[0].click();", next_button)
    actions=ActionChains(browser)
    actions.pause(5).perform()
    actions.reset_actions()
    page_counter+=1
    
browser.quit()
review_df.Review_summary=summaries
review_df.Full_review=reviews
review_df.Rating=ratings
review_df

,Review_summary,Full_review,Rating
0,Perfect product!,Photos super,5
1,Worth every penny,Feeling awesome after getting the delivery of ...,5
2,Best in the market!,Good Camera,5
3,Wonderful,This is amazing at all,5
4,Terrific purchase,Value for money üòç,5
...,...,...,...
95,Wonderful,Quality camera,5
96,Classy product,Outstanding performance this phone,5
97,Good,only the name worth it with d price.,3
98,Excellent,A perfect phone and a good battery super camer...,5
99,Brilliant,Best phone,5

### Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [4]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver import ActionChains

browser=webdriver.Chrome()
browser.maximize_window()
browser.get('https://www.flipkart.com/')

search_box_xpath='//input[@class="Pke_EE"]'
search_button_xpath='//button[@class="_2iLD__"]'
search_box=WebDriverWait(browser,10).until(expected_conditions.presence_of_element_located((By.XPATH, search_box_xpath)))
search_button=WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, search_button_xpath)))

actions=ActionChains(browser)
actions.click(on_element=search_box)
actions.send_keys('sneakers')
actions.click(on_element=search_button)
actions.pause(5)
actions.perform()
actions.reset_actions()

products_df=pd.DataFrame(columns=['Brand', 'Description', 'Price'])
counter=0
page_counter=1
brands=[]
descriptions=[]
prices=[]
while True:        
    product_link_xpath='//a[@class="_2UzuFa"]'
    product_links=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, product_link_xpath)))
    parent_window=browser.current_window_handle
    
    for product_link in product_links:
        if counter==100:
            break
            
        browser.execute_script("arguments[0].click();", product_link)
        actions.pause(5).perform()
        actions.reset_actions()
        detail_child_window=browser.window_handles[-1]
        browser.switch_to.window(detail_child_window)
        try:
            brand=WebDriverWait(browser,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//h1[@class="yhB1nd"]/span[1]'))).text.strip()
            description=WebDriverWait(browser,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//span[@class="B_NuCI"]'))).text.strip()
            price=WebDriverWait(browser,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class="_30jeq3 _16Jk6d"]'))).text.replace('‚Çπ','').strip()
        except Exception as e:
            print(e)
            browser.close()
            browser.switch_to.window(parent_window)
            continue
        
        brands.append(brand)
        descriptions.append(description)
        prices.append(price)
        counter+=1
        
        browser.close()
        browser.switch_to.window(parent_window)
    
    if page_counter>1:
        next_button_xpath='//a[@class="_1LKTO3"][2]'
    else:
        next_button_xpath='//a[@class="_1LKTO3"]'
        
    if counter==100:
        break
        
    next_button=WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, next_button_xpath)))
    browser.execute_script("arguments[0].click();", next_button)
    actions.pause(5).perform()
    actions.reset_actions()
    page_counter+=1

browser.quit()
products_df.Brand=brands
products_df.Description=descriptions
products_df.Price=prices
products_df

,Brand,Description,Price
0,URBANBOX,Trending Stylish Casual Outdoor Shoes Sneakers...,299
1,BRUTON,"2 Combo Sneaker Shoes Sneakers For Men (Grey,...",499
2,URBANBOX,Trending Stylish Casual Outdoor Shoes Sneakers...,299
3,Deals4you,Sneakers For Women (White),379
4,Robbie jones,Casual Sneakers Colour Blocked Shoes For Boys ...,449
...,...,...,...
95,PUMA,Pacer Fire Sneakers For Men (Green),"1,889"
96,HRX by Hrithik Roshan,SUPERSTAR Sneakers For Men (White),"1,216"
97,LACOSTE,Sneakers For Women (White),"10,569"
98,RED TAPE,"Casual Sneaker Shoes For Men | Comfortable, Br...","1,119"
99,Xtoon,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",498

### Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU
Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [5]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver import ActionChains

browser=webdriver.Chrome()
browser.maximize_window()
browser.get('https://www.amazon.in/')

search_box_xpath='//input[@id="twotabsearchtextbox"]'
search_button_xpath='//input[@id="nav-search-submit-button"]'
cpu_type_filter_checkbox_xpath="//span[@class='a-size-base a-color-base'][normalize-space()='Intel Core i7']"
laptop_link_xpath='//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'
title_xpath='//h1[@id="title"]/span'
rating_xpath="//div[@id='averageCustomerReviews_feature_div']//span[@class='a-size-base a-color-base']"
price_xpath='//div[@class="a-section a-spacing-none aok-align-center aok-relative"]/span[3]/span[2]/span[2]'

search_box=WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, search_box_xpath)))
search_button=WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, search_button_xpath)))

actions=ActionChains(browser)
actions.click(on_element=search_box)
actions.send_keys('Laptop')
actions.click(on_element=search_button)
actions.pause(5)
actions.perform()
actions.reset_actions()

cpu_type_filter_checkbox=WebDriverWait(browser,10).until(expected_conditions.visibility_of_element_located((By.XPATH, cpu_type_filter_checkbox_xpath)))
browser.execute_script("arguments[0].click();", cpu_type_filter_checkbox)
actions.pause(5).perform()
actions.reset_actions()

parent_window=browser.current_window_handle
laptop_details_links=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, laptop_link_xpath)))

titles=[]
ratings=[]
prices=[]
laptop_df=pd.DataFrame(columns=['Title', 'Rating', 'Price'])
for i, laptop_details_link in enumerate(laptop_details_links):
    if i==10:
        break

    browser.execute_script("arguments[0].click();", laptop_details_link)
    actions.pause(5).perform()
    actions.reset_actions()

    detail_child_window=browser.window_handles[-1]
    browser.switch_to.window(detail_child_window)

    title=WebDriverWait(browser,10).until(expected_conditions.presence_of_element_located((By.XPATH, title_xpath))).text.strip()
    rating=WebDriverWait(browser,10).until(expected_conditions.presence_of_element_located((By.XPATH, rating_xpath))).text.strip()
    price=WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, price_xpath))).text.strip()

    titles.append(title)
    ratings.append(rating)
    prices.append(price)

    browser.close()
    browser.switch_to.window(parent_window)

browser.quit()
laptop_df.Title=titles
laptop_df.Rating=ratings
laptop_df.Price=prices
laptop_df

                                               Title Rating     Price
0  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    4.0    49,650
1  MSI Modern 15, Intel 13th Gen. i7-1355U, 40CM ...    4.0    65,990
2  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...    4.4    67,990
3  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...    4.1    62,490
4  HP OMEN Gaming Laptop, Intel Core i7-14700HX (...    4.3  1,38,990
5  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....    3.0    59,990
6  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    3.9    59,990
7  HP Pavilion X360 11th Gen Intel Core i7 14" (3...    3.8    67,990
8  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    4.2    76,990
9  Dell G15 5530 Gaming Laptop, Intel i7-13650HX/...    4.1    99,990

### Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [6]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver import ActionChains
from selenium.common import TimeoutException

browser=webdriver.Chrome()
browser.maximize_window()
browser.get('https://www.azquotes.com/')

WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, '//div[@class="mainmenu"]/ul/li[5]/a'))).click()
actions=ActionChains(browser)
actions.pause(5).perform()
actions.reset_actions()

quotes=[]
authors=[]
types=[]
quotes_df=pd.DataFrame(columns=['Quote', 'Author', 'Type'])
page_counter=1
while True:
    quotes_we=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="wrap-block"]/p/a[2]')))
    authors_we=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="author"]/a')))
    types1_we=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="tags"]/a[1]')))
    types2_we=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="tags"]/a[2]')))
    types3_we=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="tags"]/a[3]')))
    
    for quote, author, type1, type2, type3 in zip(quotes_we, authors_we, types1_we, types2_we, types3_we):
        quotes.append(quote.text.strip())
        authors.append(author.text.strip())
        types.append(f'{type1.text.strip()},{type2.text.strip()},{type3.text.strip()}')
    if page_counter==1:
        WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, '//div[@class="leftcol-inner"]/div[4]/li[12]/a'))).click()
        actions.pause(5).perform()
        actions.reset_actions()
    else:
        try:
            WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, '//div[@class="leftcol-inner"]/div[4]/li[13]/a'))).click()
            actions.pause(5).perform()
            actions.reset_actions()
        except TimeoutException:
            print('All quotes scraped')
            break
    page_counter+=1

browser.quit()
quotes_df.Quote=quotes
quotes_df.Author=authors
quotes_df.Type=types
quotes_df

All quotes scraped

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence,Deep Thought,Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration,Past,Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country,Peace,War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational,Motivational,Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July,Food,Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love,Inspirational,Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun,Two,Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational,Greatness,Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual,Truth,Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational,Leadership,Education"

### Q7: Write a python program to display list of respected former Prime Ministers of India 
(i.e. Name,Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [7]:
import re
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

browser=webdriver.Chrome()
browser.maximize_window()
browser.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

all_table=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//tbody//tr')))
pm_df=pd.DataFrame(columns=['Name', 'Born-Dead', 'Term', 'Remarks'])
for row_index, row in enumerate(all_table[1:-1]):
    columns=row.find_elements(By.TAG_NAME, 'td')
    name=columns[1].text.strip()
    born_dead=columns[2].text.strip()
    term=columns[3].text.strip()
    term=re.compile(pattern='\n').sub(repl='; ', string=term)
    remark=columns[4].text.strip()
    pm_df.loc[row_index+1]=[name,born_dead,term,remark]
browser.quit()
pm_df

,Name,Born-Dead,Term,Remarks
1,Jawahar Lal Nehru,(1889‚Äì1964),"15 August 1947 to 27 May 1964; 16 years, 286 days",The first prime minister of India and the long...
2,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,; 13 days",First acting PM of India
3,Lal Bahadur Shastri,(1904‚Äì1966),"9 June 1964 to 11 January 1966; 1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
4,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966; 13 days,-
5,Indira Gandhi,(1917‚Äì1984),"24 January 1966 to 24 March 1977; 11 years, 59...",First female Prime Minister of India
6,Morarji Desai,(1896‚Äì1995),"24 March 1977 to 28 July 1979 ; 2 year, 126 days",Oldest to become PM (81 years old) and first t...
7,Charan Singh,(1902‚Äì1987),28 July 1979 to 14 January 1980; 170 days,Only PM who did not face the Parliament
8,Indira Gandhi,(1917‚Äì1984),"14 January 1980 to 31 October 1984; 4 years, 2...",The first lady who served as PM for the second...
9,Rajiv Gandhi,(1944‚Äì1991),"31 October 1984 to 2 December 1989; 5 years, 3...",Youngest to become PM (40 years old)
10,V. P. Singh,(1931‚Äì2008),2 December 1989 to 10 November 1990; 343 days,First PM to step down after a vote of no confi...
11,Chandra Shekhar,(1927‚Äì2007),10 November 1990 to 21 June 1991; 223 days,He belongs to Samajwadi Janata Party
12,P. V. Narasimha Rao,(1921‚Äì2004),"21 June 1991 to 16 May 1996; 4 years, 330 days",First PM from South India
13,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996; 16 days,PM for shortest tenure
14,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997; 324 days,He belongs to Janata Dal
15,Inder Kumar Gujral,(1919‚Äì2012),21 April 1997 to 19 March 1998 ; 332 days,------
16,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 ; 6 years, 64 days",The first non-congress PM who completed a full...
17,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 ; 10 years, 4 days",First Sikh PM
18,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
19,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

### Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [8]:
import pandas as pd
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

browser=webdriver.Chrome()
browser.maximize_window()
browser.get('https://www.motor1.com/')

WebDriverWait(browser,10).until(expected_conditions.presence_of_element_located((By.XPATH, "//input[@id='search_input']"))).send_keys('50 most expensive cars')
WebDriverWait(browser,10).until(expected_conditions.presence_of_element_located((By.XPATH, "//button[@class='m1-search-panel-button m1-search-form-button-animate icon-search-svg']//*[name()='svg']"))).click()
WebDriverWait(browser,10).until(expected_conditions.element_to_be_clickable((By.XPATH, "//a[normalize-space()='50 Most Expensive Cars In The World']"))).click()

car_detail_elements=WebDriverWait(browser,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="postBody description e-content"]/ul/li')))

names=[]
prices=[]
car_df=pd.DataFrame(columns=['Name', 'Price'])
p=re.compile(pattern='[-:]')
for car_detail_element in car_detail_elements:
    car_detail=car_detail_element.text.strip()
    names.append(p.split(string=car_detail)[0].strip())
    prices.append(p.split(string=car_detail)[-1].strip())
browser.quit()
car_df.Name=names
car_df.Price=prices
car_df

                                  Name                               Price
0                  Aston Martin Valour                        $1.5 Million
1                         Mclaren Elva                        $1.7 Million
2                          Czinger 21C                        $1.7 Million
3                        Ferrari Monza                        $1.7 Million
4                   Gordon Murray T.33                        $1.7 Million
5                    Koenigsegg Gemera                        $1.7 Million
6                         McLaren Elva                        $1.7 Million
7                            Zenvo TSR                        $1.7 Million
8                   Hennessey Venom F5                        $1.8 Million
9                      Bentley Bacalar                        $1.9 Million
10       Hispano Suiza Carmen Boulogne                        $1.9 Million
11              Bentley Mulliner Batur                        $2.0 Million
12                        Deus Vayanne                        $2.0 Million
13                         SSC Tuatara                        $2.0 Million
14                         Lotus Evija                        $2.1 Million
15                 Aston Martin Vulcan                        $2.3 Million
16                          Delage D12                        $2.3 Million
17                 Ferrari Daytona SP3                        $2.3 Million
18                   McLaren Speedtail                        $2.3 Million
19                        Rimac Nevera                        $2.4 Million
20                       Pagani Utopia                        $2.5 Million
21                Pininfarina Battista                        $2.5 Million
22                  Gordon Murray T.50                        $2.6 Million
23                Lamborghini Countach                        $2.6 Million
24                            Mercedes                        $2.7 Million
25                        Zenvo Aurora                        $2.8 Million
26                 Aston Martin Victor                        $3.0 Million
27         Hennessey Venom F5 Roadster                        $3.0 Million
28                    Koenigsegg Jesko                        $3.0 Million
29               Aston Martin Valkyrie                        $3.2 Million
30           W Motors Lykan Hypersport                        $3.4 Million
31                       McLaren Solus                        $3.5 Million
32                    Lamborghini Sian                        $3.6 million
33                    Koenigsegg CC850                        $3.7 Million
34     Bugatti Chiron Super Sport 300+                        $3.9 Million
35                  Lamborghini Veneno                        $4.5 Million
36                      Bugatti Bolide                        $4.7 Million
37           Pininfarina B95 Speedster                        $4.8 Million
38                     Bugatti Mistral                        $5.0 Million
39  Pagani Huayra Imola ‚Äì $5.4 Million  Pagani Huayra Imola ‚Äì $5.4 Million
40                        Bugatti Divo                        $5.8 Million
41                 SP Automotive Chaos                        $6.4 Million
42                    Pagani Codalunga                        $7.4 Million
43                        777 Hypercar                        $7.5 Million
44                            Mercedes                        $8.0 Million
45                  Bugatti Centodieci                        $9.0 Million
46                               Rolls                       $12.8 Million
47            Bugatti La Voiture Noire                       $13.4 Million
48                               Rolls                      $28.0 Million*
49                               Rolls                      $30.0 Million*